[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  padding: 0;
  margin: 0;
  background: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #CCC;
}

.tab:hover {
  background-color: #AAA;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

.top{
  text-align: center;
  padding-top: 5%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.container{
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */  
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 60px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
div{
  font-family: 'K2D', sans-serif;
  font-size: 16px;
  color: #000;
}